/* 
* {
 	border: 1px solid red !important;
}
*/

.logo {
  max-width: 100px;
  max-height: 100px;
  margin: 8px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

h1 {
  font-family: sans-serif;
  font-size: 80px;
  margin: 8px 8px 8px 20px;
}

.io_header {
  color: #4063A9;
}