* {
  /* border: 1px solid red !important; */
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

body {
  margin: 0px;
}

.flex_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

.header_row {
  align-items: center;
  justify-content: space-between;
}

.navigation {
  align-items: baseline;
  justify-content: flex-end;
  list-style: none;
  padding: 0px;
  margin: 0px;
  background: gray;
}

.navigation a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 20px;
}

.navigation a:hover {
  background: #444;
}

.header {
  margin: 8px;
}

.header > * {
  margin: 0px;
  color: gray;
  text-align: right;
}

h1, h2 {
  font-size: 40px;
}

.io_header {
  color: #4063A9;
  font-size: 40px;
}

.logo {
  margin: 8px;
}

.goals_content, .goals_list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.goals_content {
  flex-flow: column wrap;
  -webkit-flex-flow: column wrap;
  width: 100%;
  max-height: 1200px;
  justify-content: flex-start;
  /* align-content: space-around; */
}

.goals_list {
  background-color: rgba(255,255,255,0.4);
  padding-top: 10px;
  padding-bottom: 10px;
}

.goals_group_title {
  color: white;
  padding: 10px;
  margin: 0px;
}

.goal {
  color: black;
  margin: 10px;
  background-color: rgba(255,255,255,0.4);
  padding: 10px;
}

.goals_content a {
  color: inherit;
}

.goal:first-child {
  margin-top: 0px;
}

.goal:last-child {
  margin-bottom: 0px;
}

.goal:before {
/*   content: "\025FB  "; */
  content: "\025A1  ";
}

.completed_goal:before {
  content: "\02713  ";
}

.goals_group {
  margin: 10px;
  background-color: #375B9A;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
  .goals_content {
    max-height: none;
  }
}

@media all and (max-width: 400px) {
  .header > * {
    text-align: center;
  }
  .header_row, .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: center;
  }
  .navigation {
    align-items: stretch;
  }
  .navigation li {
    border-top: 1px solid #aaa;
  }
  .navigation li:first-of-type {
    border-top: none;
  }
  .navigation a {
    text-align: center;
  }
}

@media all and (min-width: 1100px) {
  .goals_content {
    max-height: 750px;
  }
  #course_goals {
    order: -2;
  }
  #blog_goals {
    order: -1;
  }
}
